body {
  background: white repeat-y center;
  text-align: center;
  width: 400px;
}

#trust_root {
  border: 2px solid #cc3333;
  padding: 0.5em;
  background: #CCCCCC;
  color: black;
  overflow: auto;
}

#trust_root a:link {
  color: #cc3333;
  text-decoration: none;
}

#trust_root a:visited {
  color: #cc3333;
  text-decoration: none;
}
