div#keybindings {
    color: #666666;
    margin-top: 0.5em;

}

dl.keybindings {
    margin-top: 0px;
    margin-bottom: 0px;
}

dl.keybindings .keybinding {
    display: inline;
}

dl.keybindings dt  {
    margin: 0;
    font-weight: bold;
    display: inline;

}
dl.keybindings dt:after  {
    content: ":";

}
dl.keybindings dd  {
    margin-right: 1.5em;
    margin-left: 0.5em;
    display: inline;
    white-space: nowrap;
}
